* {
    margin: 0;
    padding: 0;
}

html,
body,
.container {
    height: 100%;
}

:root {
    --main-background: #1B4B5A;
    --accent-background: #f55449;
    --grey: #e5ecf6;
}

.container {
    display: grid;
    grid-template: 11rem 1fr / 19rem 1fr;
}
.sidebar {
    background-color: var(--main-background);
    grid-area: 1/1 / 3/2;
    display: grid;
    grid-template: 6rem 1fr / 1fr;
}
/* .hero {} */
   
.main {
    background-color: var(--grey);
} 
.logoContainer {
    margin-left: 1.15rem;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    margin-top: 1.15rem;
}

.menuContainer {
    display: grid;
    grid-template: repeat(9, min-content) / 1fr;
    gap: 1.6rem;
    margin-left: 1.5rem;
   list-style-type: none;
}
.menuContainer li {
    display: grid;
    grid-template: 1fr / min-content 1fr
}
.menuContainer img {
    width: 1.7rem;
}
.menuContainer a {
    color: white;
    font-size: 1.4rem;
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    padding-left: 1.4rem;
}

ul li:nth-child(6) {
    margin-bottom: 4rem !important;
}
ul li:nth-child(1) {
    margin-top: 2rem;
}

.title {
    color: white;
    font-size: 2rem;
    font-family: 'ubuntu', sans-serif;
    font-weight: 500;
    position: relative;
    top: 9px;
    left: 15px;
}
.logo {
    width: 3.5rem;
}