* {
    margin: 0;
    padding: 0;
}

html,
body,
.container {
    height: 100%;
}

:root {
    --main-background: #1B4B5A;
    --accent-background: #f55449;
    --grey: #e5ecf6;
}

.container{
    display: grid;
    grid-template: 11rem 1fr / 20rem 1fr;
}
.sidebar{
    background-color: var(--main-background);
    grid-area: 1/1 / 3/2;
}
.hero{}
   
.main{
    background-color: var(--grey);
}